<section class="marginall">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-center">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Search Your Favorite stock</mat-label>
                        <input matInput placeholder="Ex. Infy" value="" (keyup)="searchstock($event)">
                    </mat-form-field>
                </form>
                {{searchdata}}
            </div>
        </div>
    </div>
    <mat-card>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive-sm">
                    <table class="table table-striped  ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Symbol</th>
                                <th>Company</th>
                                <th>Industry</th>
                                <th>ISIN</th>
                                <th>FaceValue</th>
                                <th>BookValue</th>
                                <th>CurrentPrice</th>
                                <th>HighLow</th>
                                <th>MarketCap</th>
                                <th>StockPE</th>
                                <th>DividendYield</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companies;; let i = index ">
                                <td>{{ i + 1 }}</td>
                                <td>{{ company.Symbol}}</td>
                                <td>{{ company.Company}}</td>
                                <td>{{ company.Industry}}</td>
                                <td>{{ company.ISIN}}</td>
                                <td>{{ company.FaceValue}}</td>
                                <td>{{ company.BookValue}}</td>
                                <td>{{ company.CurrentPrice}}</td>
                                <td>{{ company.HighLow}}</td>
                                <td>{{ company.MarketCap}}</td>
                                <td>{{ company.StockPE}}</td>
                                <td>{{ company.DividendYield}}</td>
                                <td><a routerLink="Details" [state]='{id : company.Symbol}'>View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </mat-card>
</section>