<section class="container">
    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Stock Code</th>
                    <th>Stock PE</th>
                    <th>Roe</th>
                    <th>Roce</th>
                    <th>MarketCap</th>
                    <th>FaceValue</th>
                    <th>DividendYield</th>
                    <th>CurrentPrice</th>
                    <th>BookValue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{Symbol}}</td>
                    <td>{{StockPE}}</td>
                    <td>{{Roe}}</td>
                    <td>{{Roce}}</td>
                    <td>{{MarketCap}}</td>
                    <td>{{FaceValue}}</td>
                    <td>{{DividendYield}}</td>
                    <td>{{CurrentPrice}}</td>
                    <td>{{BookValue}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>